aside {
    width: 236px;
    background-color: yellow;
    grid-area: aside;
    display: grid;
    grid-template-rows: auto;
    overflow: hidden;
    position: relative;
    grid-template-areas: "sidebar";
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    height: 716.4px; /* auto여야 하는데 안먹혀서 임시 지정 */
}

section {
    background-color: blue;
    grid-area: section;
    grid-template-rows: auto;
    grid-template-areas: "content-now";
    display: grid;
    grid-template-columns: auto;
    min-width: 0;
    min-height: 0;
}

.content {
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    grid-area: content-now;
}

.container {
    grid-template-columns: 236px auto;
    grid-template-areas: "aside section";
    grid-area: container;
    display: grid;
    grid-template-rows: auto;
    overflow: hidden;
    position: relative;
}

.wrap {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-rows: 38px auto min-content;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "container";
}

header {
    background: #121016;
    min-width: 0;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    z-index: 203;
    grid-area: header;
}

.header-empty {
    display: flex;
    flex: 1;
}

.header-search {
    min-width: 0;
    max-width: 500px;
    position: relative;
    flex: 2;
    min-width: 0;
    display: flex;
}

.search {
    display: flex;
    align-items: center;
    flex: 5;
    height: 24px;
    -webkit-app-region: no-drag;
    background: rgba(255, 255, 255, 0.075);
    box-shadow: inset 0 0 0 1px rgb(100, 100, 100);
    color: #FFFFFF;
    padding: 0 8px;
    border-radius: 4px;
    opacity: .8;
}

.search .search__icon {
    display: none;
}

.search__icon {
    font-size: 18px;
    transform: translateY(1px);
    opacity: .8;
}

.search__text {
    font-size: 13px;
    line-height: 1.38463;
    font-weight: 400;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: .8;
    margin-right: auto;
}

.icon {
    position: relative;
    display: inline-flex;
    width: 22px;
    height: 22px;
}

.header-help__icon {
    opacity: .8;
}

.header-help__button {
    padding-top: 4px;
    margin-left: 16px;
}

.header-user {
    flex: 1;
    min-width: 128px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    padding-left: 32px;
    position: relative;
}

.user {
    width: 28px;
    height: 28px;
}

.user-avatar {
    width: 28px;
}

.user-avatar__image {
    border-radius: 4px;
    display: block;
    height: 100%!important;
    width: 100%!important;
}

.user-online--stroke {
    -webkit-text-stroke-color: #121016;
    bottom: -3.8px;
    right: 12px;
    position: absolute;
    -webkit-text-stroke: 6px rgba(var(--sk_foreground_min_solid,248,248,248),1);
    background-color: #121016;
    border-radius: 10px;
    width: 14px;
    height: 14px;
}

.user-online {
    bottom: 10px;
    right: -12px;
    background-color: #2BAC76;
    border-radius: 10px;
    width: 8.8px;
    height: 8.5px;
}
