.header {
    background-color: red;
    /* grid-area: hd; */
}

.sidebar {
    background-color: yellow;
    /* grid-area: sd; */
    display: grid;
}

.content {
    background-color: blue;
    /* grid-area: main; */
    grid-template-rows: auto;
}

.p-client_container {
    /* display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      "hd hd hd hd hd hd hd hd hd"
      "sd sd main main main main main main main"; */
}

.p-client {
    display: grid;
    grid-template-rows: 38px auto min-content;
    grid-template-columns: auto;
    grid-template-areas:
        "p-client--iap1__top_nav"
        "p-client__workspace"
        "p-client__banners";
}

.p-top_nav {
    background: #350d36;
    color: #FFFFFF;
    box-shadow: 0 1px 0 0 rgb(255 255 255 / 10%);
    grid-area: p-client--iap1__top_nav;
    min-width: 0;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 203;
}

.p-top_nav__sidebar {
    display: flex;
    flex: 1;
}

.p-top_nav__search__container {
    min-width: 0;
    max-width: 500px;
    position: relative;
    flex: 2;
    min-width: 0;
    display: flex;
}

.p-top_nav__search {
    display: flex;
    align-items: center;
    flex: 5;
    height: 24px;
    -webkit-app-region: no-drag;
    background: rgba(255, 255, 255, 0.075);
    box-shadow: inset 0 0 0 1px rgb(104 74 104);
    color: #FFFFFF;
    padding: 0 8px;
    border-radius: 4px;
}

.p-top_nav__search__container .p-top_nav__search__icon {
    display: none;
}

.p-top_nav__search__icon {
    font-size: 18px;
    transform: translateY(1px);
    opacity: .8;
}

.p-top_nav__search__text {
    font-size: 13px;
    line-height: 1.38463;
    font-weight: 400;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: .8;
    margin-right: auto;
}

.icon {
    position: relative;
    display: inline-flex;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
}

.p-top_nav__windows_controls_container {
    margin-left: 16px;
}

.c-icon--question-circle {
    opacity: .8;
}

.p-top_nav_help {
    padding-top: 4px;
}

.p-top_nav__right {
    flex: 1;
    min-width: 128px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    padding-left: 32px;
    position: relative;
}

.p-top_nav .p-ia__nav__user__button {
    width: 28px;
    height: 28px;
}

.p-ia__nav__user {
    display: inline-flex;
    position: relative;
}

.p-ia__nav__user__avatar {
    width: 28px;
}

.c-avatar__image {
    border-radius: 4px;
    display: block;
    height: 100%!important;
    width: 100%!important;
}

.p-ia__nav__user__presence--stroke {
    -webkit-text-stroke-color: #350d36;
    bottom: -3.8px;
    right: 4px;
    position: absolute;
    -webkit-text-stroke: 6px rgba(var(--sk_foreground_min_solid,248,248,248),1);
    background-color: #350d36;
    border-radius: 10px;
    width: 14px;
    height: 14px;
}

.p-ia__nav__user__presence {
    bottom: -21px;
    right: 6.5px;
    background-color: #2BAC76;
    border-radius: 10px;
    width: 8.5px;
    height: 8.5px;
}
