.wrap {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-template-rows: 38px auto min-content;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main";
}

/* wherever */
.icon {
    position: relative;
    display: inline-flex;
    width: 22px;
    height: 22px;
}

.hidden {
    display: none;
}

/* header */
header {
    background: #1A1D21;
    min-width: 0;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    z-index: 203;
    grid-area: header;
    border-bottom: 1px solid rgba(255,255,255,.12);
}

.header-empty {
    display: flex;
    flex: 1;
}

.header-search {
    min-width: 0;
    max-width: 500px;
    position: relative;
    flex: 2;
    min-width: 0;
    display: flex;
}

.search {
    display: flex;
    align-items: center;
    flex: 5;
    height: 24px;
    -webkit-app-region: no-drag;
    background: rgba(255, 255, 255, 0.075);
    box-shadow: inset 0 0 0 1px rgba(255,194,192, 0.4);
    color: #FFFFFF;
    padding: 0 8px;
    border-radius: 4px;
    opacity: .8;
}

.search:hover {
    background: rgba(255, 255, 255, 0.085);
    box-shadow: inset 0 0 0 1px rgba(255,194,192, 0.6);
    opacity: 1;
}

.search .search__icon {
    display: none;
}

.search__icon {
    font-size: 18px;
    transform: translateY(1px);
    opacity: .8;
}

.search__text {
    font-size: 13px;
    line-height: 1.38463;
    font-weight: 400;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: .9;
    margin-right: auto;
    color: #ffcbca;
}

.header-help__icon {
    opacity: .8;
}

.header-help__button {
    padding-top: 5px;
    margin-left: 16px;
}

.header-user {
    flex: 1;
    min-width: 128px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    padding-left: 32px;
    position: relative;
}

.user {
    width: 28px;
    height: 28px;
}

.user-avatar {
    width: 28px;
}

.user-avatar__image {
    border-radius: 4px;
    display: block;
    height: 100%!important;
    width: 100%!important;
}

.user-online--stroke {
    -webkit-text-stroke-color: #1A1D21;
    bottom: -3.8px;
    right: 12px;
    position: absolute;
    -webkit-text-stroke: 6px rgba(var(--sk_foreground_min_solid,248,248,248),1);
    background-color: #1A1D21;
    border-radius: 10px;
    width: 14px;
    height: 14px;
}

.user-online {
    bottom: 10px;
    right: -12px;
    background-color: #FFA95A;
    border-radius: 10px;
    width: 8.8px;
    height: 8.5px;
}

/* sidebar */
aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: auto;
    overflow: hidden;
    position: relative;
    grid-template-areas: "sidebar";
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    height: auto;
}

.sidebar-header {
    position: relative;
    background: #1A1D21;
    display: flex;
    align-items: stretch;
    height: 64px;
    border-bottom: 1px solid rgba(255,255,255,.12);
    cursor: pointer;
}

.sidebar-header__button {
    background-color: initial;
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;
    padding: 0 19px 0 16px;
    transition-property: background-color,border-color;
    transition-duration: 80ms;
    transition-timing-function: cubic-bezier(.36,.19,.29,1);
}

.sidebar-header__button:hover {
    background: #3B3232;
}

.sidebar-header__team-name {
    color: #FFE9E8;
    min-width: 0;
    font-weight: 900;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.down__image {
    width: 12px;
    height: 12px;
    margin-left: 4.5px;
}

.write__button {
    width: 35px;
    height: 35px;
    background-color: #FFE9E8;
    border-radius: 17.5px;
    top: 14px;
    right: 16px;
    position: absolute;
}

.write_image {
    width : 17px;
    height: 17px;
    top: 8px;
    left: 8.5px;
    position: relative;
}

.sidebar-content {
    height: auto;
    height: calc(100vh - 38px - 64px);
    min-height: 0;
    width: 100%;
    color: rgb(188,171,188);
    background: #1A1D21;
}

.menu {
    position: relative;
    top: 12px;
}

.menu__button {
    color: #b6a9a8;
    text-align: left;
    width: 100%;
    padding-left: 16px;
    font-size: 14px;
    height: 28px;
    position: relative;
}

.menu__button:hover {
    background: #3B3232;
}

.menu__button.click {
    background: #FFC2C0;
    color: #1A1D21;
}

.menu__img, .menu__img--click {
    width: 17px;
    position: relative;
    top: 2px;
    margin-right: 4px;
}

.menu-saved img {
    width: 18px;
    left: -1px;
}

.menu-saved span {
    position: relative;
    top: -1px;
}

.channels__button {
    padding-left: 31px;
}

.direct__button {
    padding-left: 26px;
}

.pound {
    font-size: 17px;
    margin-right: 8px;
}

.direct__img {
    border-radius: 3px;
    display: block;
    height: 20px;
    width: 20px;
}

.direct__text {
    position: absolute;
    top: 7px;
    left: 54px;
}


/* content */
section {
    background-color: gray;
    grid-area: section;
    grid-template-rows: auto;
    grid-template-areas: "content-now";
    display: grid;
    grid-template-columns: auto;
    min-width: 0;
    min-height: 0;
}

.content {
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    grid-area: content-now;
}

.main {
    grid-template-columns: 236px auto;
    grid-template-areas: "aside section";
    grid-area: main;
    display: grid;
    grid-template-rows: auto;
    overflow: hidden;
    position: relative;
}
